.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: black
  }
  
.menu li {
    float: left;
  }
  
.menu li a {
    display: block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.menu d {
    float: right; 
    display: block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.center p {
    padding: 0px 16px;
  }

  /* Change the link color to #111 (black) on hover */
.menu li a:hover {
    background-color: #111;
  }

.center {
display: flex;
justify-content: left;
align-items: center;
padding-top: 16px;
}

.links { 
color: black;
font-family: Arial, Helvetica, sans-serif;
text-align: justify;
padding: 14px 16px;
text-decoration: none;
}

.exp { 
    padding: 0px 16px; 
    font-family: Arial, Helvetica, sans-serif;
}

.total {
    padding-top: 50px;
}
.image { 
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.title { 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: auto;
  margin-right: auto;
  display: block;
}